.wallets {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.wallets li {
  display: flex;
  align-items: center;
  border-width: 2px;
  border-radius: 10px;
  background-color: rgb(2, 39, 83);
  height: 4rem;
  font-size: 1.2rem;
  text-align: left;
  padding: 0 3%;
  margin: 1rem 0 0 1rem !important;
}

.wallets li:hover {
  cursor: pointer;
  background-color: rgba(2, 38, 83, 0.172);
}

.wallet-icon {
  width: 2rem;
  margin: 1rem;
}
